[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Devin Delaney
	email = 49962728+erihome@users.noreply.github.com
[color]
	ui = true
